body{
    text-align: center;
    background-color: gray;
}
h1{
    margin-top: 17%;
    font-size: 530%;
}
select{
    text-align: center;
    font-size: 230%;
    background: rgba(255,255,255,0.70);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
}